{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style  = '' -%}
{%- assign text_style  = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if post.style == 'fill' -%}
  {%- assign card_style = post.color | prepend: 'bg-' -%}
  {%- if post.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: post.color -%}
  {%- endif -%}
{%- else -%}
  {%- assign card_style = post.color | prepend: 'border border-' -%}
  {%- if post.color -%}
    {%- assign badge_style =  post.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}

{%- comment -%} Determine Post URL {%- endcomment -%}
{%- if post.external_url -%}
  {%- assign post_url = post.external_url -%}
{%- else -%}
  {%- assign post_url = post.url | relative_url -%}
{%- endif -%}

<style>
/* Title shadow if needed at some point
	.card-img-overlay {
		text-shadow: 0.1em 0.1em 0.3em black;
		
	} */
	
	.card:before {
		content: "";
		position: absolute;
		border-radius: 15px 15px 0px 0px;
		top: 0;
		left: 0;
		width: 100%;
		height: 30%;
		background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
	}
	
	.card:hover:before {
		content: "";
		position: absolute;
		border-radius: 15px 15px 0px 0px;
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(to bottom, rgba(218,88,122,0.1), rgba(218,88,122,0));
		transition: all 0.3s ease;
	}
	
	.card-info {
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

    .project.card {
        overflow: hidden;
    }

    .card-img-top {
        width: 100%;
        aspect-ratio: 480 / 550;
    }
</style>
    
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 my-3 wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ post_url }}" class="project card text-themed" {%- if post.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
  {%- assign album_data = site.data.virtual-photography[post.slug] -%}
    {%- assign card_pic = album_data[post.card-image] -%}
    {%- assign card_url = card_pic.url | default: card_pic.image1080-link -%}
    {%- assign card_ar = card_pic.width | times: 1.0 | divided_by: card_pic.height | default: card_pic.aspectRatio | default: 1.5 -%}
    {%- assign card_offset = post.card-offset | default: 0 | plus: 0 -%}
    {%- assign card_offset_x = post.card-offset-x | default: 0 | plus: 0 -%}
    {%- assign card_zoom = post.card-zoom | default: 100 | plus: 0 -%}
    {%- if card_zoom == 100 -%}
        {%- assign card_bg_size = "cover" -%}
    {%- else -%}
        {%- assign card_container_ar = 480.0 | divided_by: 550.0 -%}
        {%- if card_ar > card_container_ar -%}
            {%- assign card_bg_size = "auto " | append: card_zoom | append: "%" -%}
        {%- else -%}
            {%- assign card_bg_size = card_zoom | append: "% auto" -%}
        {%- endif -%}
    {%- endif -%}
    <div class="card-img-top" style="background-image: url('{{ card_url }}'); background-position: {{ card_offset_x }}% {{ 100 | minus: card_offset }}%; background-size: {{ card_bg_size }}; background-repeat: no-repeat; background-color: transparent;"></div>
    <div class="card-img-overlay">
      <h3 class="card-title"><strong>{{ post.title }}</strong></h3>

      <p class="card-title">
        {% for tag in post.tags %}
        <span class="badge {{ badge_style }}">{{ tag }}</span>
        {% endfor %}
      </p>
      <!-- <p class="card-text">
        {%- if post.description -%}
        {{ post.description }}
        {%- else -%}
        {{ post.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
        {%- endif -%}
      </p> -->
	  <p class="card-text">
      {{ post.date | date_to_long_string }}
	  </p>
    </div>
  </a>
</div>