.project.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.03);

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders $rounded-borders $rounded-borders;
	object-fit: cover;
    width: 100%;
    height: 550px;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}
